.navbar {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 20px 90px 20px 50px;
    justify-content: space-between;
    background-color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 45px;
    height: 45px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}