.reserved-section {
  display: grid;
  gap: 11px;
  width: 37%;
}

.reserved-rockets {
  display: grid;
}

.reserved-title {
  font-size: 22px;
}

.reserved-rocket {
  border: 1px solid grey;
  padding: 20px;
}
